/* line 1, ../sass/sass/style.scss */
body {
  font-family: Helvetica, Ariral, sans-serif;
}

/* line 4, ../sass/sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 8, ../sass/sass/style.scss */
.jamalogo {
  width: 128px;
}

/* line 11, ../sass/sass/style.scss */
.contact {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 16, ../sass/sass/style.scss */
.jama-content {
  display: inline-block;
  width: 100%;
  padding: 10px;
  margin: 10px 20px 10px 0;
  background: #f9f9f9;
  border: 1px solid #f1f1f1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* line 26, ../sass/sass/style.scss */
.jama-home {
  background: #FFF;
  border: none;
  box-shadow: none;
}

/* line 32, ../sass/sass/style.scss */
.wrapper {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
}

/* line 37, ../sass/sass/style.scss */
.footer {
  font-size: .8em;
}

/* line 41, ../sass/sass/style.scss */
.code {
  background: #EEE;
  padding: 5px;
  word-wrap: break-word;
}
